<div class="container"  style="min-height: 600px">
  <form class="my-lg-5 shadow-lg p-3 mb-5 bg-white rounded"  [formGroup] = "blogFG" #blogForm="ngForm" *ngIf="blogFG" (ngSubmit)="submit()">
    <div class="form-group row">
      <label for="inputEmail3" class="col-lg-2 col-form-label">Title</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Title" formControlName="title">
      </div>
      <div class="alert alert-dark" role="alert" *ngIf="(blogFG.get('title').touched)&&blogFG.get('title').errors">
        Please Input a Title!
      </div>
    </div>
    <div class="form-group row">
      <label for="select1" class="col-lg-2 col-form-label">Type</label>
      <div class="col-sm-10">
        <select id="select1" class="form-control" formControlName="type">
          <option>Choose Type</option>
          <option *ngFor="let type of blogTypes">{{type.type}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Content</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="13" formControlName="content"></textarea>
    </div>
    <div class="alert alert-dark" role="alert" *ngIf="(blogFG.get('content').touched)&&blogFG.get('content').errors">
      Please Input Content!
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-dark">Create</button>
      </div>
    </div>
  </form>
</div>
